.contacts {
    padding: 20px 0;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(170px, auto));
        grid-template-rows: minmax(50px, auto);
        grid-auto-rows: minmax(50px, auto);
        justify-content: space-between;
    }
    &__item {
        display: grid;
        grid-template-columns: 28px auto;
        grid-template-rows: auto;
        grid-auto-rows: auto;
        column-gap: 13px;
        color: #242424;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        a {
            color: #242424;
            text-decoration: none;
            &:hover {
                color: #242424;
                text-decoration: underline;
            }
        }
    }
    &__country {
        grid-column: 2/3;
    }
    &__email, &__tel, &__address {
        grid-column: 2/3;
        font-size: 12px;
        font-weight: 300;
    }
}